<%- include('partials/header') %>
    <div class="container bg-white text-center">
        <h1 class="mb-4">Welcome to ToDo App</h1>
        <p class="lead">Manage your tasks efficiently and stay organized!</p>
        <div class="mt-4">
            <a href="/login" class="btn btn-custom btn-primary mx-2">Login</a>
            <a href="/register" class="btn btn-custom btn-warning mx-2">Register</a>
        </div>
    </div>
<%- include('partials/footer') %>